<a href="https://colab.research.google.com/github/SpyrosKostis/Analyze_ab_test_results_notebook/blob/master/Get_Historical_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt

plt.rcParams["figure.figsize"] = (15,7)

import seaborn as sns
from datetime import datetime, timedelta,date

from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
import requests 
from scipy import stats
import statsmodels.api as sm
from itertools import product

import warnings
warnings.filterwarnings('ignore')

In [0]:
coins=['BTC','ETH','XRP','BCH','LTC','EOS','XTZ','XLM','ETC','LINK','DASH']

In [0]:
# remove 'USD' level
#for k in coins:
  url='https://min-api.cryptocompare.com/data/v2/histohour?fsym=XMR&tsym=USD&limit=24&aggregate=3&extraParamsapi_key={5c2552fbb4c69884a6e1afab5f2bd79db15cbf9bc8874ef8cc43583c44c428e4}'
  f = requests.get(url)
  ipdata = f.json()

In [0]:
ipdata

{'Data': {'Aggregated': True,
  'Data': [{'close': 73.99,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 74.61,
    'low': 73.6,
    'open': 74.48,
    'time': 1580817600,
    'volumefrom': 70991.06,
    'volumeto': 5252800.46},
   {'close': 75.4,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 75.54,
    'low': 74.42,
    'open': 73.99,
    'time': 1580828400,
    'volumefrom': 17872.62,
    'volumeto': 1340962.65},
   {'close': 74.64,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 75.12,
    'low': 74.16,
    'open': 75.4,
    'time': 1580839200,
    'volumefrom': 15555.06,
    'volumeto': 1160545.45},
   {'close': 75.05,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 75.48,
    'low': 74.34,
    'open': 74.64,
    'time': 1580850000,
    'volumefrom': 13600.36,
    'volumeto': 1021080.5},
   {'close': 74.72,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 75.45,
    'low': 74.4,
    'open': 75.05,
    'time': 1580860800,
    'volumefrom': 13545.31,
    'volumeto': 1012212.11},
   {'close': 75.13,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 75.75,
    'low': 74.79,
    'open': 74.72,
    'time': 1580871600,
    'volumefrom': 11558.64,
    'volumeto': 868378.23},
   {'close': 75.19,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 75.58,
    'low': 75.11,
    'open': 75.13,
    'time': 1580882400,
    'volumefrom': 12730.09,
    'volumeto': 957437.28},
   {'close': 76.67,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 76.91,
    'low': 75.12,
    'open': 75.19,
    'time': 1580893200,
    'volumefrom': 24452.97,
    'volumeto': 1862753.64},
   {'close': 77.57,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 78.34,
    'low': 76.73,
    'open': 76.65,
    'time': 1580904000,
    'volumefrom': 28731.01,
    'volumeto': 2232278.83},
   {'close': 78.3,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 78.83,
    'low': 77.56,
    'open': 77.57,
    'time': 1580914800,
    'volumefrom': 19482.09,
    'volumeto': 1523910.78},
   {'close': 77.74,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 79.33,
    'low': 77.44,
    'open': 78.3,
    'time': 1580925600,
    'volumefrom': 22037.8,
    'volumeto': 1722486.35},
   {'close': 77.87,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 77.99,
    'low': 77.3,
    'open': 77.74,
    'time': 1580936400,
    'volumefrom': 10896.29,
    'volumeto': 847121.49},
   {'close': 77.04,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 77.64,
    'low': 76.47,
    'open': 77.87,
    'time': 1580947200,
    'volumefrom': 13412.69,
    'volumeto': 1030994.76},
   {'close': 78.23,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 78.43,
    'low': 77.33,
    'open': 77.04,
    'time': 1580958000,
    'volumefrom': 9076.99,
    'volumeto': 709901.51},
   {'close': 78.17,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 78.52,
    'low': 77.7,
    'open': 78.23,
    'time': 1580968800,
    'volumefrom': 16666.92,
    'volumeto': 1300901.16},
   {'close': 79.61,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 79.62,
    'low': 77.99,
    'open': 78.17,
    'time': 1580979600,
    'volumefrom': 18545.54,
    'volumeto': 1466327.51},
   {'close': 79.59,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 80.69,
    'low': 78.43,
    'open': 79.55,
    'time': 1580990400,
    'volumefrom': 22884.37,
    'volumeto': 1816613.77},
   {'close': 78.53,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 79.37,
    'low': 78.06,
    'open': 79.59,
    'time': 1581001200,
    'volumefrom': 33043.4,
    'volumeto': 2602595.12},
   {'close': 78.31,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 78.59,
    'low': 77.75,
    'open': 78.53,
    'time': 1581012000,
    'volumefrom': 25630.75,
    'volumeto': 2005366.35},
   {'close': 78.16,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 78.31,
    'low': 77.52,
    'open': 78.31,
    'time': 1581022800,
    'volumefrom': 28205.77,
    'volumeto': 2202024.37},
   {'close': 79.6,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 80.21,
    'low': 78.16,
    'open': 78.16,
    'time': 1581033600,
    'volumefrom': 33567.66,
    'volumeto': 2667499.35},
   {'close': 79.22,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 79.62,
    'low': 78.61,
    'open': 79.6,
    'time': 1581044400,
    'volumefrom': 10961.02,
    'volumeto': 866985.44},
   {'close': 79.95,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 80.43,
    'low': 79.06,
    'open': 79.22,
    'time': 1581055200,
    'volumefrom': 82834.22,
    'volumeto': 6582436.39},
   {'close': 79.75,
    'conversionSymbol': 'BTC',
    'conversionType': 'multiply',
    'high': 80.37,
    'low': 79.71,
    'open': 79.95,
    'time': 1581066000,
    'volumefrom': 17019.58,
    'volumeto': 1358962.93},
   {'close': 79.49,
    'conversionSymbol': '',
    'conversionType': 'direct',
    'high': 79.79,
    'low': 79.09,
    'open': 79.78,
    'time': 1581076800,
    'volumefrom': 239.46,
    'volumeto': 18983.1}],
  'TimeFrom': 1580817600,
  'TimeTo': 1581076800},
 'HasWarning': False,
 'Message': '',
 'RateLimit': {},
 'Response': 'Success',
 'Type': 100}

In [0]:
coin_data = pd.DataFrame(ipdata['Data']['Data'])
coin_data

          time   high    low  ...  close  conversionType  conversionSymbol
0   1580817600  74.61  73.60  ...  73.99        multiply               BTC
1   1580828400  75.54  74.42  ...  75.40        multiply               BTC
2   1580839200  75.12  74.16  ...  74.64        multiply               BTC
3   1580850000  75.48  74.34  ...  75.05        multiply               BTC
4   1580860800  75.45  74.40  ...  74.72        multiply               BTC
5   1580871600  75.75  74.79  ...  75.13        multiply               BTC
6   1580882400  75.58  75.11  ...  75.19        multiply               BTC
7   1580893200  76.91  75.12  ...  76.67        multiply               BTC
8   1580904000  78.34  76.73  ...  77.57        multiply               BTC
9   1580914800  78.83  77.56  ...  78.30        multiply               BTC
10  1580925600  79.33  77.44  ...  77.74        multiply               BTC
11  1580936400  77.99  77.30  ...  77.87        multiply               BTC
12  1580947200  77.64  76.47  ...  77.04        multiply               BTC
13  1580958000  78.43  77.33  ...  78.23        multiply               BTC
14  1580968800  78.52  77.70  ...  78.17        multiply               BTC
15  1580979600  79.62  77.99  ...  79.61        multiply               BTC
16  1580990400  80.69  78.43  ...  79.59        multiply               BTC
17  1581001200  79.37  78.06  ...  78.53        multiply               BTC
18  1581012000  78.59  77.75  ...  78.31        multiply               BTC
19  1581022800  78.31  77.52  ...  78.16        multiply               BTC
20  1581033600  80.21  78.16  ...  79.60        multiply               BTC
21  1581044400  79.62  78.61  ...  79.22        multiply               BTC
22  1581055200  80.43  79.06  ...  79.95        multiply               BTC
23  1581066000  80.37  79.71  ...  79.75        multiply               BTC
24  1581076800  79.79  79.09  ...  79.49          direct

[25 rows x 9 columns]

In [0]:
# exclude coins that haven't traded in last 24 hours
# TOTALVOLUME24H is the amount the coin has been traded
# in 24 hours against ALL its trading pairs
coin_data = coin_data[coin_data['TOTALVOLUME24H'] != 0]

In [0]:
coin_data.head(10)

In [0]:
top_coins = coin_data[:9].index
top_coins

In [0]:
hist = cc.get_historical_price_minute('EOS', curr='USD', limit=2000)
hist_df = pd.DataFrame(hist)

In [0]:
hist_df.columns

In [0]:
def get_data(coin):
    hist = cc.get_historical_price_minute(coin, curr='USD', limit=2000)
    if hist:
        hist_df = pd.DataFrame(hist)
        hist_df['time'] = pd.to_datetime(hist_df['time'], unit='s')
        hist_df.index = hist_df['time']
        hist_df['%diff']=((hist_df['close']-hist_df['open'])/hist_df['open'])*100
        hist_df['diffhl']=((hist_df['high']-hist_df['low'])/hist_df['low'])*100
        hist_df['diffvol']=((hist_df['volumeto']-hist_df['volumefrom'])/hist_df['volumefrom'])*100
        hist_df['rol_mean_24H']=hist_df['close'].rolling(24).mean()
        hist_df['rol_mean_10H']=hist_df['close'].rolling(10).mean()
        hist_df['from_mean_24H']=hist_df['close']-hist_df['rol_mean_24H']
        hist_df['from_mean_10H']=hist_df['close']-hist_df['rol_mean_10H']
        colum=['rol_mean_10H','rol_mean_24H','close']
        for c in colum:
            hist_df['diff'+c]=hist_df[c]-hist_df[c].shift(1)
            hist_df.loc[hist_df['diff'+c]<0,'diff'+c]=-1
            hist_df.loc[hist_df['diff'+c]>0,'diff'+c]=1
            hist_df.loc[hist_df['diff'+c]==0,'diff'+c]=0
        del hist_df['time']
        for c in hist_df.columns:
            hist_df.rename(columns={c: c+coin},inplace=True)
        return(hist_df)

In [0]:
data=get_data('EOS')

In [0]:
for coin in top_coins:
    data2=get_data(coin)
    data=data.merge(data2, left_index=True,right_index=True)

In [0]:
data.head(50)

In [0]:
full_csv_m= data.to_csv (r'C:\Users\Spyros\Desktop\data analysis\crypto\mira\fullcsv_m.csv', index = True, header=True)
full_xls_m= data.to_excel (r'C:\Users\Spyros\Desktop\data analysis\crypto\mira\fullxls_m.xlsx', index = True, header=True)